@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">

    <div class="row">
        <div class="col-12">
            <img src="~/images/401.png" height="250" />
        </div>
    </div>
    <hr />

    <div class="row text-center">
        <p class="lead">Unless you're standing in front of the audience; you'll get this page.</p>
        <p class="lead">Sorry, about that.</p>
    </div>

</div>
