@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="jumbotron">
    <h1 class="display-3">Lab Solutions</h1>
    <p class="lead">This page will give you some hints about the answers</p>

    <div class="row">
        <div class="col-3">
            <strong>Ex 1</strong>
        </div>

        <div class="col-9 text-left">
            <pre>aa" onmouseover="alert(123)"</pre>

        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <strong>Ex 2</strong>
        </div>

        <div class="col-9 text-left">
            <pre>aa\" /&gt;&lt;script&gt;alert(123)&lt;/script&gt;&lt;</pre>
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <strong>Ex 3</strong>
        </div>

        <div class="col-9 text-left">
            <pre>@@[host you control]</pre>
        </div>
    </div>

    <hr />

    <div class="row">
        <div class="col-3">
            <strong>Burp Suite</strong>
        </div>

        <div class="col-9 text-left">
            <a href="https://portswigger.net/burp/" target="_blank">Download Burp Suite</a>
        </div>

    </div>


</div>
